.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 100%;
  min-width: 320px;
  max-width: 420px;
}

.card-body {
  .card-title {
    padding-left: 15px;
  }
  .btn-outline-primary {
    margin-left: 15px;
  }
}

.toast {
  position: absolute;
  top: 0;
  background-color: #ff0000;
  color: #fff;
  .toast-header {
    background-color: #ff0000;
    color: #fff;
  }
  button {
    color: #fff;
    opacity: 1;
  }
}
