.main-page {
    height: 100%;
    .container-fluid {
        height: 100%;
    }
    .row {
        height: 100%;
    }
    &__sidebar {

    }
    &__add-channel-button {
        display: flex;
        background-color: transparent;
        border: none;
        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent!important;
        }
        &:active {
            background-color: transparent!important;
        }
    }
    &__content {
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        padding-bottom: 100px;
        height: calc(100vh - 87px);
    }
    &__content-header {
        width: 100%;
    }
    &__content-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

.channelList {
    margin-left: 0;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    li {
        margin-bottom: 10px;
    }
    button {
        width: 100%;
        text-align: left;
    }
}

.add-message-form {
    .input-group-append {
        position: absolute;
        right: 10px;
        top: 0;
        height: 100%;
        z-index: 10;
    }
    input {
        padding-right: 60px;
        font-size: 16px;
    }
    button {
        border: none;
        background-color: transparent;
    }
}

.chat-messages {
    width: 100%;
    max-height: calc(100% - 220px);
}